[submodule "Client"]
	path = Client
	url = https://github.com/Aymsep/Frontend-Collaborative-Note-Taking.git
[submodule "Server"]
	path = Server
	url = https://github.com/Aymsep/Backend-Collaborative-Note-Taking
